# 1. 데이터 (용량이 커서 절대 올리면 안 됨)
data/
data/1.원천데이터/
data/2.라벨링데이터/

# 2. 모델 체크포인트 (학습된 가중치 파일은 용량이 크고 보안상 제외)
models/checkpoints/*.pth
outputs/

# 3. 파이썬 환경 및 캐시
__pycache__/
*.pyc
.env
.venv/
env/
venv/

# 4. VSCode 및 시스템 파일
.vscode/
.DS_Store